@import 'colors';
@import 'splitview';
@import '../../../node_modules/react-big-calendar/lib/css/react-big-calendar.css';

body {
    width: 100%;
    height: 100%;
    position: absolute;
}

#app {
    width: 100%;
    height: 100%;
    position: relative;
}


.page {
    background-color: $color3;
    height: 100%;
    padding: 0;
    margin: 0;
}

.main {
    .split-pane {
        width: 25% !important;
        div {
            min-height: 15% !important;
            width: 100%;
            display: flex;
            align-items: stretch;
            overflow: auto;
            .list-pane {
                background-color: darkgray;
            }
            .details-pane {
                background-color: antiquewhite;
                padding: 0.5em;
            }
        }
        
    }
}

.todo-list {
    list-style-type:none;
    padding: 0;
    width: 100%;
    .todo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        height: 3.5em;
        border-bottom: 1px solid #001100;
        background-color: #fdfdfd;
        &.focused {
            background-color: cyan;
        }
        &.complete {
            background-color: green;
        }

        .title {
            flex:  9;
            margin-left: 1em;
        }
        .status-container {
            flex: 1;
            float: right;
        }
    }
}

.todo-details {
    display: block !important;
    // background-color: antiquewhite;
}


.calandar-view {
    width: calc(75% - 2em);
    height: 100%;
    margin-left: 25%;
    padding: 1em;
    position: relative;
    z-index: 0;
}
