$thickness: 0.3em;
$default-color: rgba(0, 0, 0, 0.7);
$hover-color: rgba(0, 0, 0, 1);

.Resizer {
    background: #000;
    opacity: 0.2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
  }
   
  .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 0.5s ease;
  }
   
  .Resizer.horizontal {
    height: 11px;
    margin: -$thickness 0;
    border-top: $thickness solid $default-color;
    border-bottom: $thickness solid $default-color;
    cursor: row-resize;
    width: 100%;
  }
   
  .Resizer.horizontal:hover {
    border-top: $thickness solid $hover-color;
    border-bottom: $thickness solid $hover-color;
  }
   
  .Resizer.vertical {
    width: 11px;
    margin: 0 -$thickness;
    border-left: $thickness solid $default-color;
    border-right: $thickness solid $default-color;
    cursor: col-resize;
  }
   
  .Resizer.vertical:hover {
    border-left: $thickness solid $hover-color;
    border-right: $thickness solid $hover-color;
  }
  .Resizer.disabled {
    cursor: not-allowed;
  }
  .Resizer.disabled:hover {
    border-color: transparent;
  } 